*, html {
  margin: 0px;}

body {
  font-family: Helvetica, sans-serif;
  margin: 0% 5% 0% 5%;}

a {
  color: #3d72a4;}

a:link {
  text-decoration: none;}

a:hover {
  color: black;}

#header {
  margin-top: 10px;
  margin-bottom: 10px;}

#language {
  text-align: right;
  font-size: 75%;}

#menu {
  display: flex;
  justify-content: space-between;}

#navigator {
  font-weight: bold;
  font-size: 115%;
  margin-top: auto;
  margin-bottom: auto;}

#contact {
  padding-top: 5px;
  display: flex;}

#email, #github, #linkedin {
  height: 18px;
  width: 18px;
  display: block;}

#email {
  background-image: url('../img/email-color.svg');}

#email:hover {
  background-image: url('../img/email.svg');}

#github {
  background-image: url('../img/github-color.svg');}

#github:hover {
  background-image: url('../img/github.svg');}

#linkedin {
  background-image: url('../img/linkedin-color.svg');}

#linkedin:hover {
  background-image: url('../img/linkedin.svg');}

#divider {
  border-top: 1px solid black;
  border-radius: 1px;}

#heading {
  text-align: center;
  color: #3d72a4;
  margin-bottom: 10px;}

#content {
  text-align: justify;
}
